@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background: url("./background.png") center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

#fancy-story {
    background: radial-gradient(89.53% 2108.04% at 92.4% 50.82%, #FF1E1E 0%, #F19239 14.06%, #FF7D05 64.58%, #F13939 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

#fancy-yours {
    background: radial-gradient(89.53% 2108.04% at 92.4% 50.82%, #F19239 0%, #FFE27D 55.21%, #FF7D05 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

#logo {
    position: absolute;
    left: 0px;
    height: 10vw;
}

#events {
    position: absolute;
    right: 3vw;
    top: 2.3vw;
    font-size: 2vw;
    color: rgb(209, 209, 209);
    font-weight: 300;
    z-index: 3;
}

#events-link:hover {
    cursor: pointer;
    opacity: 0.7;
}

#events:visited {
   color: white;
   cursor: pointer;
}

a:hover {
    cursor: pointer;
}

.center-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    flex-direction: column;
}

#title-text {
    font-size: 6vw;
    font-weight: 900;
}

#paragraph-text {
    font-size: 2vw;
    font-weight: 200;
    width: 60%;
    color: rgb(220, 220, 220);
    margin-top: 5vh;
}

#paragraph-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#join-us {
    height: 10vw;
    width: auto;
}

.cool-button {
    background-color: black;
    color: white;
    border: 0.14vw solid rgb(254, 140, 47);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.5vw;
    margin: 0 3vw;
    padding: 1vw 6vw;
    border-radius: 10vw;
    -webkit-animation: pulse 2s linear 1s infinite;

}

.cool-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

@-webkit-keyframes pulse {
    0% {
        box-shadow: 0 0 8px #fff705, inset 0 0 8px #fff705;
    }

    50% {
        box-shadow: 0 0 8px #ff0000, inset 0 0 8px #ff0000;
    }

    100% {
        box-shadow: 0 0 8px #fff705, inset 0 0 8px #fff705;
    }

}

.inner {
    background-color: transparent;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    box-shadow: 0 0 8px #ea4c89, inset 0 0 8px #ea4c89;
    -webkit-animation: pulse 3s linear 1s infinite;
}

.inner2 {
    -webkit-animation: pulse2 5s linear 1s infinite;
}

@-webkit-keyframes pulse2 {
    0% {
        box-shadow: 0 0 8px #ff0000, inset 0 0 8px #ff0000;
    }

    50% {
        box-shadow: 0 0 8px #fff705, inset 0 0 8px #fff705;
    }

    100% {
        box-shadow: 0 0 8px #ff0000, inset 0 0 8px #ff0000;
    }

}

#about-us-text {
    width: 50%;
    font-weight: 300;
    overflow-y: scroll;
    height: 30vh;
    background-color: rgba(21, 7, 0, 0.6);
    padding: 3vw 2vw;
    border-radius: 3vw;
    font-size: 1.2vw;
}

#contact-us {
    position: absolute;
    text-align: center;
    bottom: 1vw;
    font-weight: 100;
    color: #f1f1f1;
    font-size: 1.4vw;
    text-decoration: none;
}

#contact-us:hover {
    cursor: pointer;
    opacity: 0.8;
}

#contact-text {
    text-decoration: none;
    color: #f1f1f1;
}
#contact-text:visited {
    text-decoration: none;
    color: #f1f1f1;
}

.text-input {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6vw;
    padding-left: 1.5vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-radius: 1vw;
    background-color: rgba(0, 0, 0, 0.637);
    color: rgb(201, 201, 201);
    outline-width: 0;
    border: solid #ffffff 0.11vw;
    margin: 1vw;
    width: 20vw;
}

#input-field-container {
    width: 50vw;
}

#submit-button {
    margin-top: 5vh;
    width: 60%;
}

input:hover {
    cursor: pointer;
}

@media (max-device-width: 600px) {

    #logo {
        position: absolute;
        left: 0px;
        height: 11vh;
    }

    body {
        background: url("./background.png") center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin: 0;
        font-family: 'Poppins', sans-serif;
    }

    .center-content {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
        flex-direction: column;
    }

    #title-text {
        font-size: 12.9vw;
        padding: 0 10vw;
        font-weight: 900;
    }

    #paragraph-text {
        font-size: 4vw;
        font-weight: 200;
        width: 80%;
        color: white;
        margin-top: 5vh;
    }

    #paragraph-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .cool-button {
        background-color: black;
        color: white;
        border: 0.2vw solid rgb(255, 123, 0);
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 3.5vw;
        margin: 0 2.5vw;
        padding: 2.7vw 10vw;
        border-radius: 10vw;
        -webkit-animation: pulse 5s linear 1s infinite;
    }

    .cool-button:hover {
        opacity: 0.8;
        cursor: pointer;
    }

    .inner2 {
        -webkit-animation: pulse2 5s linear 1s infinite;
    }

    @-webkit-keyframes pulse {
        0% {
            box-shadow: 0 0 20px #fff705, inset 0 0 20px #fff705;
        }

        50% {
            box-shadow: 0 0 20px #ff0000, inset 0 0 20px #ff0000;
        }

        100% {
            box-shadow: 0 0 20px #fff705, inset 0 0 20px #fff705;
        }

    }

    @-webkit-keyframes pulse2 {
        0% {
            box-shadow: 0 0 20px #ff0000, inset 0 0 20px #ff0000;
        }

        50% {
            box-shadow: 0 0 20px #fff705, inset 0 0 20px #fff705;
        }

        100% {
            box-shadow: 0 0 20px #ff0000, inset 0 0 20px #ff0000;
        }
    }


    .mobile-buttons {
        margin-top: 2.2vh;
    }

    #events {
        position: absolute;
        right: 3vh;
        top: 2.4vh;
        font-size: 2.3vh;
        color: rgb(209, 209, 209);
        font-weight: 300;
        z-index: 3;
    }
    
    #events-link:hover {
        cursor: pointer;
        opacity: 0.7;
    }
    
    #events:visited {
       color: white;
       cursor: pointer;
    }

    #about-us-text {
        width: 80%;
        font-weight: 200;
        overflow-y: scroll;
        height: 45vh;
        background-color: rgba(21, 7, 0, 0.6);
        padding: 3vw 2vw;
        border-radius: 3vw;
        font-size: 4vw;
    }

    #contact-us {
        position: absolute;
        text-align: center;
        bottom: 3vw;
        font-weight: 100;
        color: #f1f1f1;
        font-size: 3.5vw;
    }

    .text-input {
        font-family: 'Poppins', sans-serif;
        font-size: 4vw;
        padding-left: 4vw;
        font-weight: 400;
        padding-top: 2.5vw;
        padding-bottom: 2.5vw;
        border-radius: 2.5vw;
        background-color: rgba(0, 0, 0, 0.637);
        color: rgb(201, 201, 201);
        outline-width: 0;
        border: solid #ffffff 0.17vw;
        margin: 3vw 0;
        width: 90%;
    }
    
    #input-field-container {
        width: 80vw;
    }

    #submit-button {
        margin-top: 5vh;
        width: 90%;
    }   
}